.app {
  @apply bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-gray-100 transition-all duration-300 min-h-screen;
}

.search {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
}
