@tailwind base;
@tailwind components;
@tailwind utilities;

.base-shadow {
  box-shadow: 5px 5px 0 rgb(3 7 18);
}

button {
  @apply rounded-lg px-2 py-1 transition-all duration-100;
  border: 1px solid rgb(3 7 18);
  box-shadow: 5px 5px 0 rgb(3 7 18);
  transform: translate(-5px, -5px) translateX(5px);
}

button:active {
  border: 1px solid rgb(3 7 18);
  box-shadow: 0px 0px 0 rgb(3 7 18);
  transform: translate(0, 0) translateX(5px);
}

input {
  @apply rounded-lg px-3 py-1 transition-all duration-100 h-11;
  border: 1px solid rgb(3 7 18);
  box-shadow: 5px 5px 0 rgb(3 7 18);
  transform: translate(-5px, -5px) translateX(5px);
}

input:focus {
  border: 1px solid rgb(3 7 18);
  box-shadow: 0px 0px 0 rgb(3 7 18);
  transform: translate(0, 0) translateX(5px);
}

.error {
  border: 1px solid red;
  box-shadow: 5px 5px 0 red;
  background-color: rgba(255, 0, 0, 0.1) !important;
  @apply !text-red-200 !bg-red-900;
}

::placeholder .error {
  @apply !text-red-800;
}
